@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('../images/bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}
.container h1 {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    color: #fff;
}
.container h2 {
    text-align: center;
    font-weight: 200;
    color: #fff;
    margin-bottom: 50px;
}

.countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 33px;
}
.countdown .time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 0px 15px 20px 15px;
    font-weight: 600;
    border-radius: 50%;
    border: 1px solid #4e5152;
}
.countdown .time div {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    color: #fff;
}
.countdown .time span {
    font-size: 14px;
    color: #846add;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
}
form .inputArea {
    max-width: 500px;
    width: 100%;
}
form .inputArea input {
    width: 100%;
    height: 70px;
    padding: 0px 40px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    outline: 0;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    color: #846add;
}
form .inputArea input::placeholder {
    color: #999;
    transition: ease 0.5s;
}
.inputArea:hover input::placeholder,
.inputArea input:focus,
.inputArea input:focus::placeholder {
    color: #846add
}
form button {
    width: 170px;
    height: 70px;
    text-transform: uppercase;
    border: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #846add;
    transition: ease 0.5s;
    cursor: pointer;
}
form button:hover {
    background-color: #5d43b5;
}

.error {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    margin-top: -70px;
}
.errorMessageArea {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 35px;
    padding: 5px 10px;
    margin-right: 10px;
    transition: 0.3s;
    background-color: white;
    cursor: text;
}
.errorMessageArea .errorMessage {
    color: transparent;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}
.errorMessageArea .errorIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: bold;
    border-radius: 50%;
    color: #fff;
    background-color: #f00;
}
.inputArea:hover .errorMessageArea {
    border-color: #f00;
}
.inputArea:hover .errorMessageArea .errorMessage {
    color: #f00;
}